body {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #19171c;
}

.scenes {
    margin: 20px;
    display: flex;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    overflow: auto;
    gap: 20px;

    left: 0;
    position: absolute;
    top: 0;

    transition: all 0.5s;
}

.scenes button {
    width: 130px;
    justify-self: center;
    height: 80px;
}

.scenes.off {
    width: 0%;
    height: 0%;
}

.actions {
    margin: 20px;
    display: flex;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    overflow: auto;
    gap: 20px;

    right: 0;
    position: absolute;
    top: 0;

    transition: all 0.5s;
}

.actions button {
    width: 130px;
    justify-self: center;
    height: 80px;
}

.actions.off {
    width: 0%;
    height: 0%;
}

.bar {
    display: flex;
    width: calc(100% - 40px);
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.shareButton {
    transition: all 0.2s;
}

.shareButton:hover {
    background-color: #00a200;
}

.shareButton.copied {
    background-color: #007900;
}